/*

!.gitignore
!.bashrc
!.zshrc
!.zshenv
!.profile
!/.config
!setup.sh

/.config/*
!/.config/nvim/
!/.config/tmux/
!/.config/zsh/

/.config/zsh/oh-my-zsh
/.config/zsh/.zhistory
/.config/zsh/.zcoredump*
