# Neovim
.config/nvim/lazy-lock.json
.config/nvim/.luarc.json

# Tmux
.config/tmux/plugins/
.config/tmux/resurrect/

# ZSH
.config/zsh/plugins/
.config/zsh/.zhistory
.config/zsh/.zsh_history
.config/zsh/.zcompdump*

# Backup files
*.old
*.bak
*~

# OS files
.DS_Store
Thumbs.db
